* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 70vh;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.head {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #3e57db;
  color: white;
}

h2 {
  margin: 0;
  text-align: left;
  font-size: 16px;
}

small {
  margin: 5px 0 15px;
  text-align: left;
}

input {
  padding: 10px 15px;
  color: white;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  width: 100%;
}

input:focus {
  outline: 0;
}

.users {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.user {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  border-bottom: 0.5px solid #ddd;
}

.user.hide {
  display: none;
}

.user-info {
  margin-left: 10px;
}

.name {
  font-size: 14px;
  font-weight: bold;
}

small {
  font-size: 12px;
}
