* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.time-container {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

.d {
  width: 94px;
  height: 158px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: space-between;
}

.square {
  width: 30px;
  height: 30px;
  background-color: white;
  transition: all 0.25s linear;
  border-radius: 5px;
}
