* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81ecec;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  padding: 10px 30px 10px 30px;
  margin: 0;
  background-color: #0984e3;
  color: white;
  font-size: 14px;
  position: relative;
  border-radius: 0 50px 50px 0;
  transform: translatex(0);
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.5);
}

li.selected {
  background-color: white;
  color: #0984e3;
}

li:not(:first-of-type) {
  padding-left: 40px;
  margin-left: -20px;
}
li:last-of-type {
  box-shadow: none;
}

li:nth-of-type(1) {
  z-index: 100;
}

li:nth-of-type(2) {
  z-index: 90;
}

li:nth-of-type(3) {
  z-index: 80;
}

li:nth-of-type(4) {
  z-index: 70;
}

li:nth-of-type(5) {
  z-index: 60;
}
