* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

.letter {
  font-size: 15vw;
  min-width: 2vw;
}

.line {
  width: 0;
  height: 2vw;
  background-color: red;
  border-radius: 0 25px 25px 0;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  animation: slide 3s ease-out forwards;
}

@keyframes slide {
  to {
    width: 70vw;
  }
}
